body {
    /* background: radial-gradient(to right, #55225f, #b33de2); */
    background-image: url('images/homepage_local.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;}

.sidepanel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(31, 1, 25));
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    font-family: Helvetica, sans-serif;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(243, 227, 243);
    display: block;
    transition: 0.3s;
}

.submenu {
    display: none; 
    padding-left: 20px; 
}

.submenu a {
    font-size: 20px; 
    color: rgb(243, 227, 243); 
}

.submenu a:hover {
    color: grey; 
}

.sidepanel a:hover { 
    color: grey;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtnMenu {
    font-size: 20px;
    font-family: fantasy;
    cursor: pointer;
    padding: 10px 15px;
    background-color: rgba(25, 2, 31, 0.974);
    color: lavender;
    position: absolute;
    top: 20px;
    left: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #e20069ce;
}

.openbtnMenu:hover {
    background-color: grey;
}













* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #af95d0;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
#signUpBtn {
 
  background-color: #21aba2;
  font-size: large;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}


.signup{
  padding: 14px 20px;
  background-color: #327e96;
  color: #fefefe;
  border-color: black;
  border-radius: 2px;
}

/* Extra styles for the cancel button */
.cancelbtn  {
  padding: 14px 20px;
  background-color: #ae5041;
  color: #fefefe;
  border-color: black;
  border-radius: 2px;
}



/* Add padding to container elements */
.container {
  padding: 16px;
  background-color: #775c85;
  color: #f1f1f1;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #6e4c7fa2;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid #888;
    width: 70%;
    max-width: 500px;
    min-width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  
}

.register-form {
  background-color: #fefefe5d;
  margin: 5% auto;
  width: 70%; /* 70% of the screen width */
  max-width: 500px;
  min-width: 300px;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}



/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.button-group button {
  width: 48%;
}



/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}